---
import { t } from "i18next";

//import Navigation from "@/const/Navigation";
//import { LanguageSelector } from "astro-i18next/components";
---

<header class="w-full fixed top-0 z-20 transition-all duration-200">
  <div
    class="max-w-7xl mx-auto p-6 py-4 2xl:px-0 box-border transition flex justify-between items-center"
  >
    <a href="/" class="block animate-fade-in-right">
      <img
        src="/colorful-logo.svg"
        alt="Tropifresh"
        class="w-auto h-6 sm:h-8 md:h-10 transition-all"
      />
    </a>

    <div
      class="flex justify-between items-center border-b border-transparent box-border gap-6 animate-fade-in-left delay-400"
    >
    </div>
  </div>
</header>

<script>
  import HeaderScripts from "@/scripts/header";
  HeaderScripts();
</script>