---
import { cn } from '@/lib/utils';

interface Props {
  title: string;
  subtitle?: string;
  class?:string;
}

const { title, subtitle, class:className } = Astro.props;
---

<div class={cn("flex flex-col justify-center items-center title-section", className)}>
  <span class="block text-sm md:text-base text-center text-black/50 text-balance font-medium">{subtitle}</span>
  <h2 class="font-black text-3xl md:ext-5xl text-center text-secondary uppercase text-balance">{title}</h2>
</div>