---
export const prerender = true;
import { AstroSeo } from "@astrolib/seo";
import Layout from "@/layouts/Layout.astro";
import Stats from "@/components/mango/stats/Stats.astro";
import Exporting from "@/components/exporting/Exporting.astro";
import Informative from "@/components/informative/Informative.astro";
import Testimonials from "@/components/limon/testimonials/Testimonials.astro";
import Certifications from "@/components/certifications/Certifications.astro";
import HeroHome from "@/components/hero/HeroHome.astro";
import ContactForm from "@/components/shared/ContactForm.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("ar");

const seoTitle = t("mango.seo.title") ?? "";
const seoDescription = t("mango.seo.description") ?? "";
---
<AstroSeo
  titleTemplate="Tropifresh | %s"
  title={seoTitle}
  description={t('mango.seo.description') ?? ""}
  canonical="https://tropifresh-astro.vercel.app"
  openGraph={{
    url: "https://tropifresh-astro.vercel.app",
    title: `Tropifresh | ${seoTitle}`,
    description: seoDescription,
    site_name: "Tropifresh",
    images: []
  }}
/>

<Layout class="max-w-none relative">
  <div class="absolute -top-20 -z-[2] h-screen w-full bg-[radial-gradient(100%_50%_at_50%_0%,rgba(246,137,9,0.1)_0,rgba(246,137,9,0.05)_50%,rgba(246,137,9,0)_100%)]"></div>
  <HeroHome />
  <div class="max-w-7xl mx-auto px-4 md:px-8 2xl:px-0 relative space-y-40 mt-20 pb-40">
    <Stats />
    <Exporting />
    <Informative />
    <Certifications />
    <Testimonials />
  </div>
</Layout>
